spring:
  application:
    name: news-service

  datasource:
    url: jdbc:postgresql://localhost:5432/predictions
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 300000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

logging:
  level:
    kz.kbtu.newsservice: INFO
    org.jsoup: WARN
    com.rometools: WARN

ollama:
  url: http://localhost:11434
  model: qwen2.5:14b
