spring:
  application:
    name: news-service

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 300000

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: ${NEWS_SERVICE_PORT}

logging:
  level:
    kz.kbtu.newsservice: INFO
    org.jsoup: WARN
    com.rometools: WARN

ollama:
  url: ${OLLAMA_URL}
  model: ${OLLAMA_MODEL}

twelvedata:
  api-key: ${TWELVE_DATA_API_KEY:demo}
  base-url: https://api.twelvedata.com

finnhub:
  api-key: ${FINNHUB_API_KEY:demo}
